/* 404 PAGE */

#page404{}
#page404 .error-page{ margin: 115px auto 0 auto;padding-top: 17px; }


/* login */
.login-box figure img{ width: 350px; max-width: 100%; }
.table .user_type_td{ text-transform: capitalize; }
.confirmModal{ border-top: 5px solid #9d0303;border-radius: 6px; }
.notifymodal{ border-top: 5px solid #48ae4c;border-radius: 6px; }
.notifymodal .fa-check{ font-size: 18px;color: #089127; }
.control-btn{ text-align: center;padding: 10px; }

.login-box, .register-box { width: 500px; margin: 7% auto; }
.login-box figure img { width: 420px; max-width: 100%; }
.login-box-body, .register-box-body { background: #fff; padding: 20px; border-top: 0; color: #666; width: 360px; margin: 0 auto; max-width: 100%; }


/* SCHOOL YEAR */
.schoolyear{ text-align: center; }
.schoolyear .sy_div{ display: block; margin: 10px 0px;}
.schoolyear .sy_controls{ margin-top: 5px; }
.schoolyear a{ width: 140px;display: inline-block;text-align: center;height: 120px;max-width: 100%;background: #f39c12;color: #fff;border-radius: 5px;}
.schoolyear a:hover{ background: #751517; }
.schoolyear a i{ font-size: 40px;text-align: center;display: block;margin-top: 25px;}
.schoolyear a span{ font-size: 17px;font-weight: 600; margin-top: 5px;display: block; }
/* #response_msg{display: none; } */

/* SY */
.box-sidebar{}
.box-sidebar ul{ list-style: none; padding-left: 0px;}
.box-sidebar ul li.header{ text-align: center;font-size: 16px; padding: 10px 0px;background: #222d32;color: white;font-weight: 600;margin-bottom: 15px;}
.box-sidebar ul li a{ padding: 10px 25px 10px 25px;font-size: 14px; cursor: pointer;font-weight: 600; display: block;} 
.box-sidebar ul li.active, .box-sidebar ul li a:hover{ border-left: 5px solid #0f840f; color: #0f840f !important; background: #ececec;}
.box-sidebar ul li.active > a, .box-sidebar ul li.active > a:hover, .box-sidebar ul li > a:hover{ background:#751517;color: white !important; border-left: 0px !important;}
.box-sidebar ul li.active ul{ padding: 10px 5px; }
/* .box-sidebar ul li a{ font-weight: 600; } */
/* .box-sidebar ul li:hover{ border-left: 5px solid #0f840f; } */

.box-sy-content .box-header{text-align: center; text-transform: uppercase; background: #f2f2f2;color: #201e1e;font-weight: 600;}
.box-sy-content .box-title{ font-size: 15px; }
.sy_title{ background: #222d32; color: #fff; padding: 10px; text-align: center; margin: 0 auto!important;; display: block!important;; width: 210px; }



.view_student{}
.view_student .header_view{ text-align: center };
.view_student .header_view img.comp_logo {width: 100px;max-width: 100%;}
.view_student .header_view p{color: #751517; text-align: center;}
.view_student .content_view p {font-weight: 600;}
.view_student .content_view p span{ color: #751517;  }
.view_student .content_view .content_view_title { font-weight: 600; text-align: center; text-transform: uppercase; font-size: 16px; color: #751517; }
.view_student .content_view table tr th:first-child, .view_student .content_view table tr td:first-child{ width: 220px;}


.ftr_content_view{display: none;}

.legend{ display: none; }

.count_down{}
.count_cont{ width: 700px;max-width: 100%; margin: 0 auto; position: relative;padding: 67px 30px 67px 115px;}
.count_cont figure{position: absolute; left: 0; top: 53px;}
.count_cont figure img{width: 160px;}
.count_cont p{ text-align: center; margin-top: 20px; font-size: 20px; font-weight: 600; }

.timer_count{ text-align: center; }
.timer_count div{display: inline-block; text-align: center; margin: 10px; width: 100px;}
.timer_count h4{margin: 0px; background: #751517; padding: 20px 20px; color: #fff; font-size: 28px; width: 100%; display: block; font-weight: 600;}
.timer_count span{background: #0c4324; color: #fff; padding: 7px 20px; font-size: 17px; width: 100%; display: block;}


#countdowntimer, #default_counter{ display: none; }

#default_counter{ padding-top: 48px; text-align: center;}
#default_counter p{ font-size: 25px; color: #0c4324; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{ text-transform: capitalize; }
.box-user-profile-info{width: 50%; margin: 0 auto;}
#profile{width: 800px; max-width: 100%; margin: 0 auto;}
/* #profile .profile_head{ background: #0c4324; padding: 5px 10px; border-radius: 2px; } */
#profile .profile_head { padding: 5px 10px; border-radius: 2px; border-bottom: 2px solid #e4e4e4; }
/* #profile .profile_head h4{color: #fff; font-weight: 600;} */
#profile .profile_head h4 { color: #0c4324; font-weight: 600; }
.profile_cont .profile_body{ position: relative; }
.profile_cont .profile_body .profile_pic{ position: absolute; }
.profile_cont .profile_info{ padding: 40px 20px 20px 190px; }
.profile_info p { font-size: 16px; font-weight: 600; width: 410px; color: #222d32; }
.profile_info p span { float: right; width: 280px; color: #751517; }
.profile_cont .profile-user-img{ width: 130px; }
.profile_cont .profile_pic{top: 42px; left: 25px;}

.profile_info p:last-child span{ text-transform: capitalize; }